* { margin:0; padding:0; }
a img { border-style:none; }
a { text-decoration:none; }
ul li { margin:0; padding:0; }

ul {
	margin-left: 20px;
	margin-bottom: 10px;
}

body {
	background-color: #7baac9;
	font-family: 'Domine', serif;
	font-size: 18px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
}

h4 {
	color: #4F484F;
}

p {
	font-family: 'Domine', serif;
	font-size: 18px;
	margin-bottom: 20px;
}

a {
	color: #000;
}

a:link {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

.h1 {
	text-transform: uppercase;
}

main {
	width: 800px;
	margin: 20px auto 40px;
}

section {
	margin-bottom: 50px;
	background-color: #eee;
	padding: 20px;
}

section h1 {
	margin-bottom: 20px;
}

.columns {
	-webkit-columns: 3 200px;
     -moz-columns: 3 200px;
          columns: 3 200px;
}

.year {
	float: right;
}

.header {
	margin-bottom: 50px;
	background-color: #eee;
	padding: 20px;
}

.skills {
	margin-bottom: 50px;
	background-color: #eee;
	padding: 20px;
}

.skills h1 {
	margin-bottom: 20px;
}

.experience {
	margin-bottom: 50px;
	background-color: #eee;
	padding: 20px;
}

.experience h1 {
	margin-bottom: 20px;
}

.experience .experience-content {
	font-family: 'Domine', serif;
	font-size: 18px;
	margin-bottom: 20px;
}

.other {
	margin-bottom: 50px;
	background-color: #eee;
	padding: 20px;
}

.other h1 {
	margin-bottom: 20px;
}

.other p	{
	margin-bottom: 20px;
}

.other h4 {
	color: #4F484F;
}

.box {
	box-shadow: 1px 1px 2px #cecece,
	inset 1px 1px 2px #000;
	padding: 20px 20px 20px 20px;
	margin-bottom: 40px;
	background-color: #fff;
	border-radius: 4px 10px 10px 10px;
}

.header_box {
	box-shadow: 1px 1px 2px #cecece,
	inset 1px 1px 2px #000;
	padding: 20px 20px 20px 20px;
	margin-bottom: 40px;
	background-color: #fff;
	border-radius: 4px 10px 10px 10px;
	background-image: url('images/header.jpg');
	opacity: 0.25;
}
